services:
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=my-user
      - DOCKER_INFLUXDB_INIT_PASSWORD=my-super-password
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=network_traffic
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - capturador

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - influxdb
    volumes:
      - grafana_data:/var/lib/grafana

  capturador:
    build:
      context: .
      dockerfile: Dockerfile  # Renombrar .dockerfile a Dockerfile
    container_name: capturador
    ports:
      - "8000:8000"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./:/app
      - /var/log/apache2/access.log:/var/log/apache2/access.log:ro
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_TOKEN=my-super-secret-token
      - INFLUXDB_ORG=my-org
      - INFLUXDB_BUCKET=network_traffic
    depends_on:
      influxdb:
        condition: service_healthy
    restart: unless-stopped

volumes:
  influxdb_data: {}
  grafana_data: {}
